.control-panel-container{
    background-color: purple;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 500px;
    top: 0;
    height: 5vh;
}
.control-panel-container label{
    margin-top: auto;
    margin-bottom: auto;
color: white;
}
